body{
	margin:0;
	height: 100%;
}

.container {
	position: relative;
	height: 100vh;
	background: orange;
}


.rectangle{
	position: absolute;
	height: 90%;
	width: 90%; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightgreen;
}

.title {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}





